---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Pulso">
  <h1 class="text-4xl font-bold">Pulso</h1>
  <p class="font-semibold">Su asistente de monitoreo de salud</p>
</BaseLayout>
